<section role="main" class="content-body">
    <header class="page-header">
        <h2>User Table</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>User Table</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">List Users</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>                      
                        <th>Locked</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr class="gradeX">
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.isLock}}</td>
                        <td class="actions">
                            {{!-- <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a> --}}
                            <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                            <a href="/users/{{this._id}}" class="on-default"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="on-default remove-row remove-product"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
    <!-- end: page -->
</section>